<div class="parallax-container valign-wrapper">
  <div class="parallax"><%= image_tag "1pic", class: 'parallax-image' %></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h4>Sign In</h4>
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.email_field :email, :placeholder => "Email" %>
          <%= f.password_field :password, :placeholder => "Password" %>
          <%= f.submit "Log in", class: "btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><%= image_tag "3pic", class: 'parallax-image' %></div>
</div>
