<h1>New Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :made_from %>
  <%= f.text_field :made_from %>
  <%= f.label :picture %>
  <%= f.text_field :picture %>
  <%= f.submit  %>
<% end %>
