<div class="center">
  <div class="row">
    <h4><%= link_to "New product", new_product_path, class: 'btn' %></h4>
    <div class="col s12 m7">
    </div>
    <ul>
      <% @products.each do |product| %>
        <li>
          <div class="card large">
            <div class="card-image">
              <img src="<%= product.picture %>">
            </div>
            <div class="card-content">
              <p><%= link_to product.name, product_path(product) %></p>
              <p></p>
              <small>By <%= User.find(product.user_id).first_name %> <%= User.find(product.user_id).last_name %></small>
            </div>
            <div class="card-action">
              <%= link_to "Edit", edit_product_path(product) %> | <%= link_to "Delete", product_path(product), :data => {:confirm => "You sure?", :method => "delete" }%>
            </div>
          </div></li>
      <% end %>
    </ul>
  </div>
</div>
